#answerQuestionPage {
    position: sticky;
    margin-top: 13vh;
    top: 13vh;
    width: 50%;
    left: 25%;
    font-family: sans-serif;
}

#answerQuestionPage form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.answerQuestionLabels {
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

#answerQuestionPage textarea {
    height: 100px;
    resize: none;
}

#answerQuestionPage #answerQuestionTextDiv textarea {
    height: 160px;
    resize: none;
}

#answerQuestionPage #answerQuestionLastLine {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#answerQuestionErrors {
    color: red;
    flex: 1;
}

#postAnswerButton {
    width: 250px;
}

.answerQuestionButton {
    background-color: dodgerblue;
    color: white;
    border: 1.5px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.aqNullError {
    color: red;
    font-weight: normal;
    font-size: 16px;
    margin-top: 5px;
}
