#editQuestionPage {
    position: fixed;
    height: 100%;
    width: 79%;
    left: 20%;
    font-family: sans-serif;
    margin-top: 0px;
    overflow: hidden;
    top: 12vh;
  }

  #editQuestionPage form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .editQuestionLabels{
    font-weight: bold;
    font-size: 15px;
    color: black;
  }

  .editQuestionSubLabels {
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    color:black;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  #editQuestionPage textarea {
    height: 40px;
    resize: none;
  }

  #editQuestionPage #editQuestionTextDiv textarea{
    height:160px;
    resize: none;
  }

  #editQuestionPage #editQuestionLastLine {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
  }
    
  #editQuestionErrors{
    color:red;
    flex: 1;
  }

  #postQuestionButton{
    flex:1;
    background-color: dodgerblue;
    color:white;
    border: 1.5px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }


  #deleteQuestionButton{
    flex:1;
    background-color: red;
    color:white;
    border: 1.5px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  #returnQuestionButton{
    flex:1;
    background-color: gray;
    color:white;
    border: 1.5px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .pqNullError{
    color:red;
    font-weight: normal;
    font-size: 10px;
    margin-top:5px;
  }
