.sidebar {
    background-color: white;
    height: 100%;
    top: 11vh;
    width:19.5%;
    text-align:center;
    border-style: dotted;
    border-width:2px;
    border-color:black;
    border-top:0;
    display: block;
    position: fixed;
    margin:0 auto; 
    padding:0;
    left: 0;
}

.sidebarButtons {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    position: absolute;
    width:100%;
}

.sidebarButtons button:not(:last-child) {
    border-bottom: none;
}

.sidebarButtons button:focus {     
    background-color:#cfcfcf;
}

.sidebarButton {
    background-color: white;
    color:dodgerblue;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}