#askQuestionPage {
    position: fixed;
    height: 100%;
    width: 79%;
    left: 20%;
    font-family: sans-serif;
    margin-top: 0px;
    overflow: hidden;
    top: 12vh;
  }


  
  #askQuestionPage form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .askQuestionLabels{
    font-weight: bold;
    font-size: 15px;
    color: black;
  }

  .askQuestionSubLabels {
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    color:black;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  #askQuestionPage textarea {
    height: 40px;
    resize: none;
  }

  #askQuestionPage #askQuestionTextDiv textarea{
    height:160px;
    resize: none;
  }

  #askQuestionPage #askQuestionLastLine {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
  }
    
  #askQuestionErrors{
    color:red;
    flex: 1;
  }

  #postQuestionButton{
    flex:1;
  }

  .pqNullError{
    color:red;
    font-weight: normal;
    font-size: 10px;
    margin-top:5px;
  }
