#userProfilePage {
    position:absolute;
    max-height: 100%;
    width:80%;
    left:20%;
    overflow: auto;
    top: 11vh;
}

#userProfilePageHeader {
    font-size: 25px;
    font-family: sans-serif;
    border-style: dotted;
    border-width:2px;
    border-color:black;
    border-top:0;
    border-right:0;
    border-left:0;
    display: flex;
    flex-direction: column;
    position:fixed;
    width: 80%;
    margin-bottom: 1vh;
    height: 29vh;
    overflow-y: auto;
    overflow-x: hidden;
}


#upphRow1,#upphRow2, #upphRow3 {
    display: flex;
    align-items: center;
    color:dodgerblue;
}

#upphRow4 button {
    margin-right: 5vh;
}

#mustBeLoggedInText {
    color:red;  
    left: 50%;
}

.userData {
    font-weight: bold;
    margin-left: 1vh;
    color: black;
}


#userProfileContentWrapper {
    font-size:25px;
    font-weight:normal;
    top:40vh;
    position:fixed;
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 80%;
}   

#userTagsContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 5vh;
    margin-left: 25vh;
    margin-right: 10vh;
}

.tag {
    white-space: pre-line;
    color: dodgerblue;
    font-size: 20px;
    padding: 30px;
    border: 1px dashed black;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    width: 150px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 100px;
}

.count-text {
    color: black !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-decoration-thickness: unset !important;
    text-decoration-style: none !important;
    text-decoration-color: unset !important;
}

.tagRow {
    display: flex;
    justify-content: start;
    margin-top: 50px;
}

#userQuestionsContent {
    top: 41vh;
    overflow-y: auto;
    position: fixed;
    height: calc(100% - 46vh);
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.userQuestionBox {
    font-size: 20px;
    font-family: sans-serif;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    height: 10vh;
    width: 100%;
    position: relative;
    margin-bottom: 2vh;
}

.userQuestionTitle {
    color: dodgerblue;
    font-weight: normal;
    margin-top: 1vh;
}

.userQuestionSummary {
    font-weight: normal;
    margin-left: 1vh;
    margin-top: 1vh;
}

#allUsersContent {
    top: 41vh;
    overflow-y: auto;
    position: fixed;
    height: calc(100% - 46vh);
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.userBox {
    font-size: 20px;
    font-family: sans-serif;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    height: 10vh;
    width: 100%;
    position: relative;
    margin-bottom: 2vh;
}

.userUserName {
    color: dodgerblue;
    font-weight: normal;
    margin-top: 1vh;
}

 .userUserReputation {
    font-weight: normal;
    margin-left: 1vh;
    margin-top: 1vh;
}

#DeleteUserButton{
    background-color: red;
    color:white;
    border: 1.5px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 30%;
    margin-bottom: 1vh;
}


#cantDeleteAdmin{
    color:red;
}